# Node dependencies
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output directories
dist/
build/
.netlify/

# Uploads & Logs
uploads/
!uploads/.gitkeep
logs/
*.log

# Testing & Coverage
coverage/

# OS metadata
.DS_Store
Thumbs.db
