PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://infoabhionchain_db_user:gudu123@jobportal.1amtnjs.mongodb.net/?appName=jobportal
JWT_ACCESS_SECRET=8a4b325049c5656719e308e8ce4a20acd37745de24eeb5029a878ebeb441cba8
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=df5048bc21ec17281713137c261fbdd761410c472808352937cab03e56f39230
JWT_REFRESH_EXPIRY=7d
FRONTEND_URL=https://job-portal-abinash.netlify.app
BACKEND_PUBLIC_URL=https://your-backend-railway-url.up.railway.app

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Job Portal <noreply@jobportal.com>"
