PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/jobportal?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRY=7d
FRONTEND_URL=https://job-portal-abinash.netlify.app
BACKEND_PUBLIC_URL=https://your-backend-railway-url.up.railway.app

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

FIREBASE_PROJECT_ID=job-portal-946ea
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@job-portal-946ea.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_firebase_private_key\n-----END PRIVATE KEY-----\n"
