# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Configuration
# Note: Local keys for signing/verifying access and refresh tokens
JWT_ACCESS_SECRET=ycOI8ZvRXpLl1AraAmlTmNodk41YKnGJHorpcSbRMj4=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=ObfgIaepHTeMsI8oPwbKdol2d8aH+rahmEJBO6do8LQ=
JWT_REFRESH_EXPIRY=7d


# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=infoabhionchain@gmail.com
SMTP_PASS=fljhvvainldftbri
SMTP_FROM="Job Portal" <infoabhionchain@gmail.com>

# Frontend Configuration
FRONTEND_URL=http://localhost:3000

# Database Configuration
MONGODB_URI=mongodb+srv://infoabhionchain_db_user:IZoVnuNxpGTC3Cos@jobportal.1amtnjs.mongodb.net/?appName=jobportal

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=ikriegrf
CLOUDINARY_API_KEY=871553741629775
CLOUDINARY_API_SECRET=h1yP5l1xgeKg6NOICLSUteqTr2U
